img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


.card{
    border: 2px solid rgb(190, 189, 189);
    max-width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.321);
    padding: 20px;
    margin: 5px;
    display: inline-block;
}

.student{
    border: 1px solid black;
    border-radius: 7px;
}
.student p{
    margin: 2px;
}

.welcome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-style: none;
    box-shadow: 5px 5px 5px rgb(48, 238, 48);
}

.login{
    font-family: sans-serif;
    border: 1px solid black;
    border-style: none;
    box-shadow: 5px 5px 5px rgb(238, 61, 48);
}